<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>03/05/2022</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quis.</p>
  </div>
</div>
