.main-container
  box-sizing: border-box
  max-width: 600px
  margin: 0 auto
  height: 100vh
  display: flex
  justify-content: center
  align-items: center


.container
  min-height: 500px
  width: 100%
  padding: 0

.title
  font-family: 'Russo One', sans-serif
  font-weight: 400
  font-size: 40px
  color: white

.container__title
  background-color: #57b846
  height: 100px
  display: flex
  justify-content: center
  align-items: center



.example-form
  padding: 50px 35px
  display: flex
  flex-direction: column

.btnForm
  margin-top: 20px
  color: white
  background-color: #57b846
  transition: all .4s

.btnForm:hover
  background-color: #408534


.btnForm.mat-button-disabled
  color: white

.footer
  font-family: 'Russo One', sans-serif
  font-weight: 400
  font-size: 20px
  color: #999
  padding: 50px 0
  display: flex
  flex-direction: column
  align-items: center

.footer__link
  color: #57b846
  text-decoration: none

