<div class="main-container">
  <mat-card class="container">
    <mat-card class="container__title">
      <div class="title">Вход</div>
    </mat-card>

    <form class="example-form" [formGroup]="userForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Email" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput placeholder="Password" value="">
    </mat-form-field>

    <button class="btnForm" (click)="signIn()" mat-button color="primary" [disabled]="userForm.invalid">Войти</button>
  </form>

    <footer class="footer">
      <div class="footer__title">У вас нет аккаунта?</div>
      <a [routerLink]="'/registration'" class="footer__link">Зарегистрироваться прямо сейчас</a>
    </footer>
  </mat-card>
</div>
