.container
  width: 1600px
  margin: 20px auto

.containerTitle
  width: 100%
  display: flex
  justify-content: space-between

.example-button-container
  margin-top: 50px
  display: flex
  justify-content: center
