<div class="main-container">
  <mat-card class="main-container__title title title-large ">News Portal</mat-card>
  <div class="container">
    <mat-toolbar color="primary" class="wrapper">
      <div class="container__header-table">
        <button mat-button [matMenuTriggerFor]="menu" class="header-table__button title">Menu</button>
        <div class="header-table__hello title">{{emailUser}}</div>
      </div>
      <mat-menu #menu="matMenu">
        <button [routerLink]="'/layout/news'" mat-menu-item>News</button>
        <button [routerLink]="'/layout/favnews'" mat-menu-item>Favourite news</button>
        <button (click)="logOut()" [routerLink]="'/login'" mat-menu-item>Log out</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>
