<form [formGroup]="form" (ngSubmit)="submit()" class="card">
  <h2>Войти в панель администратора</h2>

  <div class="form-control"
  [ngClass]="{invalid: form.controls['email'].touched && form.controls['email'].invalid}"
  >
    <label for="email">Email</label>
    <input formControlName="email" id="email" type="email">
    <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid" class="validation">
      <small *ngIf="form.controls['email'].errors?.['email']">Поле email должно быть email</small>
      <small *ngIf="form.controls['email'].errors?.['required']">Введите email</small>
    </div>
  </div>

  <div class="form-control"
   [ngClass]="{invalid: form.controls['password'].touched && form.controls['password'].invalid}"
  >
    <label for="password">Password</label>
    <input formControlName="password" id="password" type="password">
    <div *ngIf="form.controls['password'].touched && form.controls['password'].invalid" class="validation" class="validation">
      <small *ngIf="form.controls['password'].errors?.['minlength']">Пароль не должен быть меньше {{form.controls['password'].errors?.['minlength']}}
      символов, сейчас он {{form.controls['password'].errors?.['minlength.actualLength']}}</small>
      <small *ngIf="form.controls['password'].errors?.['required']">Введите email</small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid || submitted">Войти</button>
</form>
