.container
  margin-top: 10px

table
  width: 100%

mat-header-cell
  text-align: center

.divTh1
  width: 5%

.divTh2
  width: 28%

.divTh3
  width: 12%

.divTh4
  width: 35%

.divTh5
  width: 10%

.divTh6
  width: 5%

.example-button-container
  display: flex
  padding-top: 30px
  justify-content: center

.btnFavourite
  color: darkgrey

.btnFavourite-selected
  color: darkred

.btnAdd
  background-color: rgba(107, 140, 24, 0.44)
  color: black
  font-family: 'Russo One', sans-serif
  font-size: 20px
