<div class="main-container">
  <mat-card class="title">Новостной портал</mat-card>
  <form class="example-form" [formGroup]="userForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Second name</mat-label>
      <input formControlName="secondName" matInput placeholder="Second name" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Email" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput placeholder="Password" value="">
    </mat-form-field>

    <button (click)="submit()" mat-stroked-button color="warn" [disabled]="userForm.invalid">Создать пользователя</button>
  </form>
</div>
